<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realpick.dao.ProductSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.realpick.entity.ProductSku">
        <id column="sku_id" property="skuId"/>
        <result column="product_id" property="productId"/>
        <result column="sku_size" property="skuSize"/>
        <result column="sku_color" property="skuColor"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="skuSizeList" resultType="java.lang.String">
        select distinct sku_size
        from product_sku
        where product_id = #{productId} and deleted = 0
    </select>

    <select id="skuColorList" resultType="java.lang.String">
        select distinct sku_color
        from product_sku
        where product_id = #{productId} and deleted = 0
    </select>

    <select id="reSkuColorList" resultType="java.lang.String">
        select distinct sku_color
        from product_sku
        where product_id = #{productId} and sku_size = #{skuSize} and deleted = 0
    </select>

    <select id="reSkuSizeList" resultType="java.lang.String">
        select distinct sku_size
        from product_sku
        where product_id = #{productId} and sku_color = #{skuColor} and deleted = 0
    </select>

</mapper>
